@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #0c1322;
    color: #dce2f7;
    overscroll-behavior: none;
  }
}
